{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe- pâtisserie el bachri{% endblock %}

{% block content %}
<div class="conatiner-fluid"  style="background:#e2ced2 ">
    <h1 class="text-center">Modifier mon mot de passe</h1>
<hr>
{% if notification%}
<div class="alert alert-info">{{ notification }}</div>

{% endif %}
{{ form(form) }} <!-- appelé la fonction twig  a laquel je passe en parametre la variable form qui contient mon formulaire que je souhaite affiché  -->

<a href="{{ path('account') }}" class="btn btn-dark btn-sm" role="button" aria-disabled="true">Retourner à mon compte</a>

</div>

{% endblock %}
