{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block content %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h3>Réinitialiser votre mot de passe</h3>
 
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
       <div>
            <strong>
                Pour réinitialiser votre mot de passe veuillez entrer votre adrresse email
            </strong>
        </div>

        <button class="btn btn-info btn-block mt-3">Envoyer </button>
    {{ form_end(requestForm) }}
{% endblock %}
