{% extends 'base.html.twig' %}
{% block content %}
<div class="container-fluid"  style="background:#e2ced2 ">
    <h1 class="text-center">Créer mon compte</h1>
    <hr>

{{ form(form) }} <!--créer un formulaire avec la methode form et injecte le form qu'on a créer sur le controller   -->


</div>
{% endblock %}

