{#
/**
 * @file
 * Bootstrap v5 Sliding pagination control implementation.
 *
 * View that can be used with the pagination module
 * from the Bootstrap CSS Framework
 * https://getbootstrap.com/docs/5.0/components/pagination/
 */
#}
{% extends '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig' %}

{# <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav> #}
  {# <ul class="pagination justify-content-end" style="margin:20px 0">
    <li class="page-item">...</li>
  </ul> #}